*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
    height: 100vh;
    background: url(/images/homebg.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav{
    height: 60px;
    width: 100%;
    background-color: black;
}

label.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 60px;
}

.links{
    margin: 10px;
}

.christmasbtn{
    width: 250px;
    height: 100px;
    background-image: url(/images/christmascard.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
}

.newyearbtn{
    width: 250px;
    height: 100px;
    background-image: url(/images/newyearcard.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}