*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
    height: 100vh;
    background-image: url(/images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    margin: 0;
    padding: 0;
}

nav{
    height: 60px;
    width: 100%;
    background-color: black;
}

label.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 60px;
}

button{
    margin: 10px 20px;
    width: 400px;
    height: 200px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    border: transparent;
}

.christmasbtn{
    background-image: url(/countdown/christmascard.jpg);
}

.newyearbtn{
    background-image: url(/countdown/newyearcard.jpg);
}

a{
    color: white;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
